<!-- <nav class = "navbar navbar-default">
  <div class = "container-fluid">
      <div class = "navbar-header">
          <a href = "#" class = "navbar-brand">Angular Practices</a>
      </div>

      <div class = "collapse navbar-collapse">
          <ul class = "nav navbar-nav">
              <li routerLinkActive="active"><a routerLink="/things">Things(Firebase)</a></li>
              <li routerLinkActive="active"><a routerLink="/posts">Posts</a></li>
              <li routerLinkActive="active"><a routerLink="/products">Products(NGRX)</a></li>
          </ul>

      </div>


  </div>
</nav> -->

<div class="header">
    <a href="#default" class="logo">Angular Mini Projects</a>
    <div class="header-right">
      <a routerLinkActive="active" routerLink="/things">Things(Firebase)</a>
      <a routerLinkActive="active" routerLink="/posts">Posts</a>
      <a routerLinkActive="active" routerLink="/products">Products(NGRX)</a>
    </div>
</div>
